@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #242333;
  color: #fff;
  position: relative;
}

a,
h1,
h2,
.skills-icons i,
.project-card {
  transition-duration: 0.4s;
  text-decoration: none;
  border: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2em 5em;
  background-color: #2e2c41;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

#navbar h2 {
  font-size: 30px;
  margin: 0;
}

#navbar h2:hover {
  color: rgb(174, 62, 226);
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar-right {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-right a {
  text-decoration: none;
  padding: 2px;
  margin-right: 3em;
  color: rgb(184, 184, 184);
}

.navbar-right a:hover {
  border-radius: 8px;
  transform: scale(1.2);
  color: rgb(248, 248, 248);
  cursor: pointer;
}

.navbar-right a:visited {
  text-decoration: none;
}

.invisible {
  display: none;
}

.bio-flexbox {
  display: flex;
  justify-content: center;
}

#bio {
  position: fixed;
  z-index: 101;
  min-width: 100px;
  max-width: 750px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #492075;
  background-color: #373553;
  text-align: center;
  padding: 1em 2em;
}

@-webkit-keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes closeModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes closeModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.open-modal-animation {
  -webkit-animation: openModal 0.5s linear forwards;
  animation: openModal 0.5s linear forwards;
}

.close-modal-animation {
  -webkit-animation: closeModal 0.5s linear forwards;
  animation: closeModal 0.5s linear forwards;
}

#bio #close {
  position: absolute;
  top: 2em;
  right: 2em;
  font-size: 1.3em;
  cursor: pointer;
}

#bio h2 {
  color: transparent;
  background-image: linear-gradient(to right, #f00, #ff0, #0f0, #00f);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -webkit-animation: gradient 10s linear infinite;
  animation: gradient 10s linear infinite;
  background-size: 1000%;
  margin-bottom: 1em;
}

.profile {
  max-width: 200px;
  max-height: 200px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(124, 124, 124);
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bio p {
  line-height: 1.8;
  color: rgb(248, 248, 248);
}

#header {
  margin-top: 12em;
  margin-bottom: 3em;
  text-align: center;
  background-repeat: no-repeat;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-1 {
  color: rgb(174, 62, 226);
  font-size: 55px;
}

.header-2 {
  font-size: 55px;
  color: transparent;
  background-image: linear-gradient(to right, #f00, #ff0, #0f0, #00f);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -webkit-animation: gradient 10s linear infinite;
  animation: gradient 10s linear infinite;
  background-size: 1000%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

header h2 {
  color: #ffaaaa;
  font-size: 30px;
  margin-top: 2em;
  margin-bottom: 30vh;
}

.links-top {
  text-align: center;
  margin-bottom: 18em;
}

header a {
  text-decoration: none;
  color: #000000;
  margin: 0 1em;
}

header a:visited {
  text-decoration: none;
}

header a:hover {
  color: #ccbcbc;
}

main {
  margin: 5em 10vw;
}

.projects-grid {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  gap: 3vh 3vw;
  justify-content: center;
}

.projects-title {
  overflow: hidden;
  margin-bottom: 2em;
  font-size: 55px;
  padding: 10px 0;
  color: #7432b9;
  -webkit-text-decoration: underline solid 4px rgb(48, 102, 123);
  text-decoration: underline solid 4px rgb(48, 102, 123);
}

.projects-title:hover {
  color: #7d0047;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333c60;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 1em 1em;
  min-height: 500px;
}

.project-card:hover {
  transform: scale(1.1);
}

.card-top {
  max-height: 300px;
}

.project-card h2 {
  text-align: center;
  font-size: 1.5em;
}

.project-card img {
  margin-top: 1em;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 55%;
  max-width: 100%;
  max-height: 80%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.project-card p {
  margin: 0;
  margin-top: 1em;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 7px;
  color: rgb(231, 231, 231);
}

.links-project {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.project-card a {
  text-decoration: none;
  color: #000000;
  margin: 0 0.5em;
}

.project-card a:hover {
  color: rgb(197, 197, 197);
}

.project-card a:visited {
  text-decoration: none;
}

.project-end {
  text-align: center;
  margin: 5em 0;
}

#skills h1 {
  text-align: left;
  font-size: 55px;
  padding: 10px 0;
  color: #eeebb9;
  -webkit-text-decoration: underline solid 4px rgb(48, 102, 123);
  text-decoration: underline solid 4px rgb(48, 102, 123);
  margin-bottom: 2em;
}

#skills h1:hover {
  color: #7d0047;
}

#skills {
  text-align: center;
}

.skills-icons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px 50px;
}

.skills-icons i:hover {
  color: transparent;
  background-image: linear-gradient(to right, #f00, #ff0, #0f0, #00f);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -webkit-animation: gradient 10s linear infinite;
  animation: gradient 10s linear infinite;
  background-size: 1000%;
}

#contact-me h1 {
  text-align: center;
  font-size: 55px;
  padding: 10px 0;
  margin-bottom: 2em;
  margin-top: 2em;
  color: transparent;
  background-image: linear-gradient(to right, #f00, #ff0, #0f0, #00f);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -webkit-animation: gradient 10s linear infinite;
  animation: gradient 10s linear infinite;
  background-size: 1000%;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.contact-icons a {
  transition-duration: 0.2s;
  color: #000000;
  text-decoration: none;
}

.contact-icons a:hover {
  color: #ccbcbc;
}

#hamburger-input {
  display: none;
  opacity: 0.5;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom,
    #3d0e61,
    #3d0e61 20%,
    transparent 20%,
    transparent 40%,
    #3d0e61 40%,
    #3d0e61 60%,
    transparent 60%,
    transparent 80%,
    #3d0e61 80%,
    #3d0e61 100%
  );
  z-index: 3;
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -250px;
  width: 170px;
  height: 100%;
  background-color: #403e5c;
  padding: 0px 10px;
  box-sizing: border-box;
  z-index: 9;
  transition: 0.5s;
}

#hamburger-menu h3 {
  color: rgb(174, 62, 226);
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #b9faf8;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  right: 0;
}

#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

@media (max-width: 950px) {
  #header {
    margin-top: 170px;
  }
  #navbar {
    position: static;
    background-color: #242333;
    border: none;
    padding-right: 2em;
    padding-left: 2em;
  }
  .navbar-right {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  #bio {
    top: 10%;
    width: 75vw;
  }
  .projects-grid {
    grid-template-columns: 40vw 40vw;
    gap: 35px 35px;
  }
  .projects-title {
    text-align: center;
  }
  .project-card {
    min-height: 250px;
    max-height: 400px;
    padding: 5px 10px;
  }
  .project-card h2 {
    font-size: 1.2em;
  }
  .project-card img {
    -o-object-fit: contain;
    object-fit: contain;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }
  .project-card p {
    font-size: 12px;
  }
  .links-project {
    margin-bottom: 1em;
  }
  #skills h1 {
    text-align: center;
  }
}

@media (max-width: 650px) {
  #header {
    margin-top: 150px;
  }
  #header h2 {
    font-size: 24px;
    margin: 1em 0 150px 0;
  }
  .links-top {
    margin-bottom: 25vh;
  }
  #bio {
    top: 50px;
  }
  #bio h2 {
    margin-bottom: 0.5em;
  }
  .profile {
    max-width: 100px;
    max-height: 150px;
  }
  #bio p {
    font-size: 14px;
  }
  .project-card h2 {
    font-size: 14px;
  }
}

@media (max-width: 465px) {
  body {
    overflow-x: hidden;
  }
  #navbar {
    margin: 30px 25px 0 25px;
  }
  #navbar h2 {
    text-align: left;
    font-size: 25px;
    margin: 0;
  }
  #hamburger-menu #sidebar-menu {
    width: 150px;
  }
  #header h2 {
    font-size: 25px;
  }
  .links-top {
    margin-bottom: 15vh;
  }
  #bio h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 24px;
  }
  #bio p {
    font-size: 12px;
  }
  .projects-grid {
    grid-template-columns: 70vw;
    gap: 35px 35px;
  }
  .skills-icons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px 50px;
  }
  .contact-icons {
    gap: 2em;
  }
}

@media screen and (max-height: 650px) {
  header h2 {
    margin-bottom: 120px;
  }
  .links-top {
    margin-bottom: 150px;
  }
  #bio {
    top: 100px;
    width: 55vw;
  }
  #bio .profile {
    max-height: 150px;
  }
  #bio h2 {
    font-size: 20px;
    margin-top: 14px;
  }
  #bio p {
    font-size: 14px;
  }
  .projects-grid {
    grid-template-columns: 22.5vw 22.5vw 22.5vw;
    gap: 20px;
  }
  .project-card {
    min-height: 0;
  }
  .fa-xl {
    font-size: 1.7em;
  }
}

@media screen and (max-height: 650px) and (max-width: 650px) {
  .projects-grid {
    grid-template-columns: 40vw 40vw;
    gap: 35px 35px;
  }
}
